<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HQPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB49F4CF1F5D499900DAA064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB49F4E81F5D499A00DAA064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB49F4F31F5D499A00DAA064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
